footer .content-footer .top .media-icons{  
    display: flex; 
    padding-right: 80px;
}  
footer .media-icons a{  
    height: 40px;  
    width: 40px;  
    margin: 0 8px; 
    border-radius: 50%;  
    text-align: center;  
    line-height: 40px;  
    color: #fff;  
    font-size: 17px;  
    text-decoration: none;  
    transition: all 0.4s ease;  
}  
.media-icons a:nth-child(1){  
    background: #4267B2;  
}  
.media-icons a:nth-child(1):hover{  
    color: #4267B2;  
    background: #fff;  
}  
.media-icons a:nth-child(2){  
    background: #1DA1F2;  
}  
.media-icons  a:nth-child(2):hover{  
    color: #1DA1F2;  
    background: #fff;  
}  
.media-icons a:nth-child(3){  
    background: #E1306C;  
}  
.media-icons a:nth-child(3):hover{  
    color: #E1306C;  
    background: #fff;  
}  
footer .link-boxes{  
    width: 100%;  
    display: flex;  
    justify-content: space-between;  
}  
footer .link-boxes .box{  
    width: calc(100% / 5 - 10px);  
}  
.link-boxes .box .link_name{  
    color: #fff;  
    font-size: 2rem;  
    font-weight: 400;  
    margin-bottom: 10px;  
    position: relative;  
}  
.link-boxes .box .link_name::before{  
    content: '';  
    position: absolute;  
    left: 0;  
    bottom: -2px;  
    height: 2px;  
    width: 35px;  
    background: #fff;  
}  
.link-boxes .box li{  
    margin: 6px 0;  
    list-style: none;  
} 
.box  .shower {
    color: #fff;
    opacity: 0.8;
}
.link-boxes .box li a{  
    color: #fff;  
    font-size: 1.05rem;  
    font-weight: 500;  
    text-decoration: none;  
    opacity: 0.8;  
    transition: all 0.4s ease  
}  
.link-boxes .box li a:hover{  
    opacity: 9;  
    text-decoration: none;
    cursor: pointer;
    color: #111;
    padding: 5px 5px;
    background: rgb(255,255,255);
    border-radius: 4px; 
} 
.link-boxes .box li a i{
    font-size: 1.5rem;
    padding-right: 2px;
    padding-top: 3px;
}
.footer-text {
    color:white ;
}
